.blog-hero-section {
  background: linear-gradient(to right, #0d6efd, #0b5ed7);
  height: 55vh;
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.animate__animated {
  opacity: 0;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}


@media (max-width: 576px){
    .blog-hero-section{
        height: auto;
      
    }
}