.footer {
  background-color: #0B1720;
  color: white;
  padding: 40px 20px;
  font-family: "Mona Sans", sans-serif;
  font-size: 10px;
  /* line-height: 1.6; */
}

.footer h3 {
  font-weight: bold;
  border-bottom: 3px solid #2548BD;
  display: inline-block;
  padding-bottom: 5px;
  /* margin-bottom: 15px; */
  font-size: 16px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer ul li {
  /* margin-bottom: 8px; */
  font-size: 14px;
}

.footer ul li a,
.footer-links a {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
  display: inline-block; /* ✅ Required for transform */
}

.footer ul li a:hover,
.footer-links a:hover {
  transform: translateX(5px);
  color: #0D6EFD;
}


.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* gap: 30px; */
  /* margin-bottom: 40px; */
}

.footer-column {
  flex: 1 1 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .footer-column {
    flex: 1 1 45%;
  }

}

@media (max-width:576px){
.footer h3{
  margin-bottom: 12px;
}
.footer ul li{
  margin-bottom: 14px;
}
}

@media (min-width: 992px) {
  .footer-column {
    flex: 1 1 18%;
  }

   .dropdown-header .dropdown-icon {
    display: none;
  }

  .dropdown-links {
    display: block !important;
  }
}

/*  */

.footer-bottom {
  border-top: 2px solid #2548BD;
  margin-top: 40px;
  padding-top: 20px;
  text-align: center;
  font-size: 14px;
}


/* Contact Info */
.get-in-touch {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.contact-box {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.contact-icon {
  font-size: 24px;
  color: #2548BD;
  margin-top: 4px;
}

.contact-title {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.contact-subtitle {
  margin: 0;
  font-size: 13px;
  color: #ccc;
}

@media (min-width: 768px) {
  .get-in-touch {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contact-box {
    flex: 1 1 30%;
  }

  
}

/* Dropdown Toggle Styling */
.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.dropdown-icon {
  font-size: 14px;
  margin-left: 10px;
  color: #ccc;
}

/* Initially hide links */
.dropdown-links {
  display: none;
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

.dropdown-links.open {
  display: block;
}

.dropdown-links li {
  margin-bottom: 8px;
  font-size: 14px;
}

.download-link {
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon-style {
  font-size: 1rem;
  color: white;
}
