.hero-section {
  position: relative;
  min-height: 100vh;
  background-image: url("../assets/bg/h1bg-1.png");
  background-color: #e8d2ff;
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  /* overflow-x: hidden; */
  background-blend-mode: color-dodge;

  padding: 40px 20px;
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: start;
  max-width: 100%;
  width: 100%;
  padding: 0 20px;
}

.hero-title {
  color: #000;
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
  max-width: 750px;
}

.glow-ball {
  position: absolute;
  pointer-events: none;
  z-index: 999;
  opacity: 1;
  transition: transform 0.2s ease-out;
}

/* Ball 1 */
.ball1 {
  width: 27%;
  left: 66%;
  top: 55%;
  animation: fallAndBounce1 1.9s ease-out forwards, float 4s ease-in-out 3s infinite;
}

/* ✅ Ball 2 — Top Right */
.ball2 {
  width: 14%;
  right: 35%;
  top: 5%;
  animation: fallAndBounce2 2s ease-out forwards, floatReverse 4s ease-in-out 3.5s infinite;
}

/* Tablet */
@media (max-width: 992px) {
  .hero-title {
    font-size: 2.8rem;
    width: 90%;
  }

  .ball1 {
    width: 22%;
    left: 54%;
    top: 58%;
  }

  .ball2 {
    width: 12%;
    right: 0;
    top: 5%;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .hero-section {
           min-height: 65vh;
    padding: 30px 15px;
  }

  .hero-title {
    font-size: 2.6rem;
  
    width: 100%;
  }

  .hero-content {
    padding: 0 10px;
  }

  .ball1 {
          width: 30%;
        left: 69%;
    top: 65%;
  }

  .ball2 {
         width: 25%;
        right: 21px;
    top: 5%;
  }
}

/* Animations */
@keyframes fallAndBounce1 {
  0% {
    top: -200px;
    transform: rotate(720deg) scale(0.8);
    opacity: 0;
  }
  50% {
    transform: rotate(500deg) scale(1.1);
    opacity: 1;
  }
  70% {
    top: 52%;
    transform: rotate(400deg) scale(0.95);
  }
  100% {
    top: 50%;
    transform: rotate(360deg) scale(1);
  }
}

@keyframes fallAndBounce2 {
  0% {
    top: -250px;
    transform: rotate(0deg) scale(0.6);
    opacity: 0;
  }
  50% {
    transform: rotate(700deg) scale(1.2);
    opacity: 1;
  }
  70% {
    top: 6%;
    transform: rotate(600deg) scale(0.95);
  }
  100% {
    top: 5%;
    transform: rotate(550deg) scale(1);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px) rotate(360deg);
  }
  50% {
    transform: translateY(-10px) rotate(365deg);
  }
  100% {
    transform: translateY(0px) rotate(360deg);
  }
}

@keyframes floatReverse {
  0% {
    transform: translateY(0px) rotate(720deg);
  }
  50% {
    transform: translateY(10px) rotate(715deg);
  }
  100% {
    transform: translateY(0px) rotate(720deg);
  }
}
