.project-card {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.project-card:hover {
  transform: translateY(-9px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.project-img {
  border-radius: 10px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  display: inline-block;
}
.triangle-blue {
  border-bottom: 10px solid #2548bd;
}
.triangle-gray {
  border-bottom: 10px solid #999;
}
.triangle-lightgray {
  border-bottom: 10px solid #ccc;
}
