.scroll-to-top-btn {
  position: fixed;
  bottom: 135px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 0.3s ease;
  z-index: 999;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.scroll-to-top-btn.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

@media (max-width: 576px) {
  .scroll-to-top-btn {
    bottom: 142px;
    right: 23px;
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}
