

.tilt-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  max-width: 508px;
  min-height: 500px;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tilt-skew-wrapper {
  transform: perspective(1000px) rotateY(-25deg);
  transform-style: preserve-3d;
}

.custom-card {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  will-change: transform;
  transform-style: preserve-3d;
}

.custom-card:hover {
  transform: translateY(-20px) scale(1.05);
  box-shadow: 0 20px 45px rgba(3, 5, 3, 0.35);

}

.icon-wrapper {
  width: 48px;
  height: 48px;
  background-color: #eceeff;
  color: #5a60f0;
  font-size: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}


.services-heading {
  font-size: 1.7rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 800;
  text-align: center;
  color: #4534A6;
  position: relative;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.services-heading::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 60px;
  height: 4px;
  background: linear-gradient(90deg, #4534A6, #0072ff);
  border-radius: 2px;
  animation: slideFade 2.5s ease-in-out infinite;
}

@keyframes slideFade {
  0% {
    width: 0;
    opacity: 0;
  }
  50% {
    width: 60px;
    opacity: 1;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .services-heading {
    font-size: 1.6rem;
    line-height: 1.4;
  }
}




@media(max-width: 768px) {
  .svg-section {
    height: 80vh;
  }
  .content-overlay {
    padding-top: 2rem;
  }
}
