.service-box {
  background: #fdfdfd;
  border-radius: 16px;
  transition: all 0.3s ease;
  border: 1px solid #e6e6e6;
}
.service-box:hover {
  background: linear-gradient(to right, #cbd8ff, #dae1fe);
color: black;
  transform: translateY(-6px);
}
.service-box:hover h5,
.service-box:hover p {
  color:  black!important;
}
.service-box img {
  transition: transform 0.3s ease;
}
.service-box:hover img {
  transform: scale(1.1);
}

.execution-section .step-box {
  border: 1px solid #e4e4e4;
  transition: transform 0.3s ease;
}
.execution-section .step-box:hover {
  transform: translateY(-6px);
  background: #f0f7ff;
}

.execution-section .matter-box {
  border: 1px solid #dee2e6;
  transition: all 0.3s ease-in-out;
}
.execution-section .matter-box:hover {
  background: #4663c3;
  color: #fff;
}
.execution-section .matter-box:hover h6 {
  color: #fff;
}






.path-animate {
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  animation: drawPath 4s ease-out forwards;
}

@keyframes drawPath {
  to {
    stroke-dashoffset: 0;
  }
}

.svg-section {
  position: relative;
  height: auto;
  overflow: hidden;
background-color: #E5F1FC;

 
}

.pathfinder-svg {
  position: absolute;
  top: 100%;
  left: 50%;
  bottom: 0;
  width: 100%; 
  height: auto;
  transform: translate(-50%, -50%);
  height: auto;
  z-index: 2;
  opacity: 0.3;
 
}

.color-svg{
      stroke: #86cae7;
        opacity: 0.6;
}

/* Overlay content container */
.content-overlay {
  z-index: 2;
}



.icon-wrapper {
  width: 48px;
  height: 48px;
  background-color: #eceeff;
  color: #5a60f0;
  font-size: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}


@media(max-width:768px){
  .svg-section{
    height: auto;
  }
}

@media(max-width:990px){
    .svg-section{
    height: auto;
  }
}


